.bi-plus {
    font-size: 20px;
    color: #270ae7;
    cursor: pointer;
    display: inline-block;
    width: 20px;
}

.bi-dash {
    font-size: 20px;
    color: #270ae7;
    cursor: pointer;
    display: inline-block;
    width: 20px;
}
.empty {
  display: inline-block;
  width: 20px;
}

