{% extends "base.html" %}
{% load general_tags %}

{% block content %}
    {% for item in data2 %}
        <p>{{ item.f_name }}</p>
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="w-25">Отдел</th>
            <th scope="col">Сотрудники</th>
        </tr>
        </thead>

        <tbody>

        {% for item in data %}
            <tr{% if item.level != 0 %} class="d-none"{% endif %} data-id="{{ item.id }}"
                                        data-parent="{{ item.parent_id }}">
                <td>{% get_space item.level %}
                    {% if not item.is_leaf_node %}
                        <i class="bi bi-plus"></i>
                    {% else %}
                        <span class="empty"></span>
                    {% endif %}
                    {{ item }}
                </td>
                <td>
                    <p>
                        <a class="department" data-toggle="collapse" href="#collapse_{{ item.id }}"
                           data-department="{{ item.id }}" data-done="false">
                            Показать сотрудников
                        </a>
                    </p>
                    <div class="collapse" id="collapse_{{ item.id }}">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ФИО</th>
                                <th scope="col">Должность</th>
                                <th scope="col">Дата приема на работу</th>
                                <th scope="col">Размер заработной платы</th>
                            </tr>
                            </thead>
                            <tbody id="table_{{ item.id }}">

                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}